* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li,
a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	color: #d0d0d1;
	background-color: #131217;
}

.main {
	margin: 0 auto;
	max-width: 90%;
	margin-top: 50px;
}

.line {
	border-right: 2px solid #8265ff;
	color: #8265ff;
	font-size: 4em;
	font-family: monospace;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
}

.typing-animation {
	animation: blinkCursor 500ms infinite normal,
		typing 4s steps(40) 1s normal both;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 12em;
	}
}

@keyframes blinkCursor {
	from {
		border-right-color: #8265ff;
	}
	to {
		border-right-color: transparent;
	}
}

.parag {
	text-align: center;
	padding: 5px;
	font-size: 1.8rem;
	line-height: 2.6rem;
	padding: 10px;
	margin: 50px;
	animation-name: grow;
	animation-duration: 600ms;
	animation-timing-function: ease-in;
}

@keyframes grow {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@media (max-width: 650px) {
	.line {
		font-size: 3em;
	}

	.parag {
		font-size: 1.6rem;
	}
}

@media (max-width: 490px) {
	.line {
		font-size: 2.5em;
	}

	.parag {
		font-size: 1.6rem;
	}
}

@media (max-width: 410px) {
	.line {
		font-size: 2em;
	}

	.parag {
		font-size: 1.6rem;
	}
}

@media (max-width: 325px) {
	.line {
		font-size: 1.8em;
	}

	.parag {
		font-size: 1.6rem;
	}
}
